<h1><%= @resume.user.name %></h1>

<% if @resume.objective.present? %>
  <h3>Objective</h3>
  <%= @resume.objective %>
<% end -%>

<% @resume.experiences.each do |exp| %>
  <div>
    <%= exp.title %> | <%= exp.company %> | <%= exp.date %>
  </div>
<% end -%>

<% @resume.educations.each do |edu| %>
  <div>
    <%= edu.award %> | <%= edu.school %> | <%= edu.date %>
  </div>
<% end -%>

<% @resume.activities.each do |act| %>
  <div>
    <%= act.title %>
  </div>
<% end -%>

<% @resume.qualifications.each do |qual| %>
  <div>
    <%= qual.description %>
  </div>
<% end -%>
