<h1><%= @user.name %></h1>

<% @experiences.each do |exp| %>
  <div>
    <%= exp.title %> | <%= exp.company %> | <%= exp.date %>
  </div>
<% end -%>

<% @educations.each do |edu| %>
  <div>
    <%= edu.award %> | <%= edu.school %> | <%= edu.date %>
  </div>
<% end -%>

<% @activities.each do |act| %>
  <div>
    <%= act.title %>
  </div>
<% end -%>

<% @qualifications.each do |qual| %>
  <div>
    <%= qual.description %>
  </div>
<% end -%>
