<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @experience.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @experience.company %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
