<h1>Listing educations</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Award</th>
      <th>Description</th>
      <th>School</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.date %></td>
        <td><%= education.award %></td>
        <td><%= education.description %></td>
        <td><%= education.school %></td>
        <td><%= education.location %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
